
@import '../../styles/variables.scss';
.titleContainer {
  display: flex;
  width: 100%;
}

.container {
  padding: 20px;
  background-color: $light-black;
  overflow: hidden;
  height: 80vh;
  position: relative;
  width: 100%;
  @media (max-width: $breakpoint-mobile) {
    height: 50vh;

  }
  .leftContainer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    div {
      display: flex;
      flex-direction: column;
      gap: 32px;
      p {
        font-size: $body-large;
        color: $white;
      }
    }
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      div {
        p {
          font-size: $body-medium;
        }
      }
    }
  }
}