@import '../../styles/variables.scss';

.container {
  background-image: url("../../assets/portfolio-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
  background-color: $light-black;
  padding: 32px 64px;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  @media (max-width: $breakpoint-mobile) {
    padding: 32px 16px;
    background-image: none;
    min-height: auto;

  }
}

.titleContainer {
  display: flex;
  width: 100%;
}

.sliderContainer {
    width: 70%;
    margin: auto;
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
}


