/* CarouselStyles.css */
.portfolio-carousel .slider-container {
    position: relative;
    width: 90%;  /* Ajusta según tus necesidades */
    margin: 0 auto;
    max-width: 100vw;
    min-height: 100vh;
}

.portfolio-carousel .slick-list {
    position: relative;
    overflow-y: visible !important;  /* Permitir desbordamiento */
    padding: 0 0;  /* Asegúrate de que no haya padding que cause el recorte */
    margin: 3vh 0;
    min-height: 100vh;
    padding-bottom: auto;
    display: flex;
    align-items: center;
}

.portfolio-carousel .slick-track {
    display: flex;
    align-items: center;
    overflow-y: visible !important;  /* Permitir desbordamiento */
}

.portfolio-carousel .slide-item {
    transition: transform 0.5s ease;
}

.portfolio-carousel .slick-center {
    opacity: 1 !important;
    z-index: 10;
    position: relative;
    transform: scale(1.3);
    transition: transform 0.5s ease;
}

.portfolio-carousel .slick-center .slide-item {
    z-index: 2;  /* Asegúrate de que el slide central esté delante de los demás */
}

.portfolio-carousel .slick-slide {
    opacity: 0.6;
    overflow-y: visible;  /* Permitir desbordamiento */
}

.portfolio-carousel .slick-dots li button:before {
    font-size: 16px; /* Ajusta el tamaño de los puntos */
    color: #ccc; /* Color de los puntos inactivos */
    transition: color 0.3s ease;
}

.portfolio-carousel .slick-dots li.slick-active button:before {
    color: #fff; /* Color de los puntos activos */
}

.portfolio-carousel .slick-dots li button:hover:before {
    color: #E0E0E0; /* Color de los puntos al pasar el ratón (hover) */
}
