
.contact-form {
    max-width: 600px;
    margin: 0 0 0 0; /* Mueve el formulario más hacia la izquierda */
    font-family: 'Arial', sans-serif;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #757575;
}

.form-group input,
.form-group textarea {
    width: 120%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent; /* Hacer el fondo de los inputs transparente */
    color: #333;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-bottom: 2px solid #333;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #555;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-group input,
.form-group textarea {
    background-color: #E4E2DD;
    opacity: 0.7;
}
