@import '../../styles/variables.scss';

.container {
  height: auto;
  background-color: $cream-bg;
  display: flex;
  flex-direction: column;
  gap: 64px;
  @media (max-width: $breakpoint-mobile) {
    gap: 8px;
  }
}

.titleContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 32px 64px;
    @media (max-width: $breakpoint-mobile) {
      padding: 32px 16px;
    }
}

.titleColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h5 {
      margin-left: auto;
      font-family: $fuzzy-font-style;
        font-size: $body-large;
        color: $light-black;
    }
}

.carouselContainer {
  padding-bottom: 80px;
  @media (max-width: $breakpoint-mobile) {
    padding: 0 16px 40px 16px;
  }
}