//Colors
$black: #000000;
$light-black: #383838;
$white: #ffffff;
$grey: #B0B0B0;
$dark-grey: #707070;
$light-grey: #E0E0E0;
$cream-bg: #E4E2DD;
$grey-bg: #D9D9D9;

//Radius
$small-radius: 5px;
$medium-radius: 8px;
$large-radius: 12px;
$extra-large-radius: 16px;


//Spacing
$extra-small: 4px;
$small: 8px;
$medium: 16px;
$large: 24px;
$extra-large: 32px;

//Body size in px
$body-small: 12px;
$body-medium: 16px;
$body-large: 24px;

$title-font-style: "Anton", sans-serif;
$fuzzy-font-style: "Fuzzy Bubbles", sans-serif;

$top-bar-height: 72.5px;