@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


.word-moving-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent); /* Aplica el desvanecimiento en los bordes */
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent); /* Compatibilidad para navegadores Webkit */
}

.word-moving {
    white-space: nowrap;
}

.word-moving p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #B0B0B0;
    font-weight: 400;
}

.portfolio {
    font-size: 24px !important;
}