@import '../../../styles/variables.scss';

.title {
    font-size: 96px;
    line-height: 1.2;
    font-family: $title-font-style;
    @media (max-width: $breakpoint-mobile) {
        font-size: 64px;
    }
}

.dark {
    color: $light-black;
}

.light {
    color: $white;
}