@import '../../styles/variables.scss';

.container {
    height: auto;
    background-color: $cream-bg;
    padding: 32px 64px;
    position: relative;
    display: flex;
    gap: 64px;
    width: 100%;
    flex-direction: column;
    @media (max-width: $breakpoint-mobile) {
        padding: 32px 16px;
        gap: 16px;
    }
}

.titleContainer {
    display: flex;
    justify-content: end;
    width: 100%;
    @media (max-width: $breakpoint-mobile) {
        margin-bottom: 16px;
    }
}

.cardsContainer {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @media (max-width: $breakpoint-mobile) {
        margin: auto;
    }
}