@import '../../../styles/variables.scss';

.container {
  background-color: #4a4a4a;
  color: white;
  padding: 32px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(117,114,114,0.75);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contentContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;
   div {
     margin-left: auto;
     display: flex;
     gap: 8px;
     align-items: center;
    p {
        font-size: 16px;
        font-family: $title-font-style;
        color: $white;

    }
   }
}

.line {
  height: 3px;
  width: 32px;
  background-color: $white;
}